
/* SCREEN SIZE BELOW 320PX */
@media (max-width: 20em){
    .header{
        padding: 0 1rem;
        max-width: 100%;
        gap: 3rem;
    }
    .blog-btn:link,.blog-btn:visited{
        font-size: 1.2rem;
        padding: 1.7rem 3.5rem;
        left: 30%;
    
    }
    .post-description{
        font-size: 6rem;
    }
}

/* SCREEN SIZE BELOW 500PX */

@media (max-width: 32em){
    html{
        font-size: 50%;
    }

    .header{
        padding: 0 1rem;
    }

    .overview-container{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
    }

    .overview-img-box{
        width: 120%;
        margin-right: 60px;
    }


    .blog-container{

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    


@media (max-width: 412px) {
    .blog-btn:link, .blog-btn:visited{
        font-size: 1.2rem;
        padding: 1.7rem 3.5rem;
        left: 35%;
        top: 92%;
    }
    
}

@media (max-width: 1110px) {
    .blog-btn:link, .blog-btn:visited{
        font-size: 1.2rem;
        padding: 1.7rem 3.5rem;
        left: 35%;
        top: 91%;
    }
    
}

}

/*  SCREEN SIZW BELOW 690px*/

@media (max-width: 43em){
    html{
        font-size: 50%;
    }
    .header{
        padding: 0 1rem;
    }

    .footer-about-box{
        flex-direction: column;
        gap: 1rem;
    }

    .hero-img{
        width: 130%;
        margin-right: 11rem;
    }

    .hero-image-box{
        display: none;

    }

    .hero-primary{
        font-size: 5rem;
    }

    .btn:link, .btn:visited{
        font-size: 2rem;
    }

    .download-container{
        flex-direction: column;
        justify-content: center;
    }

    .icon-container{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
} 



/* SCREEN SIZE BELOW 960px */

@media (max-width: 60em) {
    .footer-container{
        flex-direction: column;
    }
    
    .footer-about-box{
        align-items: flex-start;
        margin-top: 3rem;
        gap: -2rem;
    }
    .hero-img{
        width: 40%;
        padding-right: 7rem;
    }

    .top-icon{
        left: 93%;
    }
    
}



/* SCREEN SIZE BELOW 1136px */

@media (max-width: 71em) {
    .hero{
        grid-template-columns: 1fr;
    }

    .hero-img{
        width: 70%;
        margin-left: 15rem;
    }

    .hero-primary{
        font-size: 5rem;
    }

    .hero-text-box,.hero-img-box{
        text-align: center;
    }
}


@media (max-width: 70em) {

    .download-container{
        padding-bottom: 2rem;
    }

    .section-feature{
        padding-top: 2rem;
    }

    .feature-container{
        flex-direction: column;
        align-items: center;
    }

    .feature-banner-bg{
        width: 120%;
    }
    .feature-banner{
        width: 80%;
        left: 14.5%;
    }

    .feature-text-box-right{
        margin-top: 2rem;
    }

    .feature-heading{
        text-align: center;
    }
    .feature-description{
        text-align: center;
        width: 26rem;
    }

    .overview-container{
        max-width: 70rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .overview-img{
        width: 60%;
        margin: 0 13rem;
    }
    
    .blog-container{
        grid-template-columns: 1fr 1fr;
    }
   
}

 @media (max-width: 85em){
     .btn-mobile-nav{
         display: block;
     }
     
     
     .main-nav{
         background-color: rgba(41, 40, 40, 0.978);
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 70vh;
         display: flex;
         align-items: center;
         justify-content: center;
         transform: translateX(100%);


         transition: all 0.5s ease-in;
         /* Hide Navigation */
         /* Allows NO Transition at all */
         /* display: none; */

         /* 1) Hide it Visually */
         opacity: 0;

         /* 2) Make it unaccessible to mouse and Keyboard */
        pointer-events: none;

         /* Hide it from screenreaders */
         visibility: hidden;
     }

     .nav-open .main-nav{
         opacity: 1;
         pointer-events: auto;
         visibility: visible;
         transform: translateX(0);
     }
     .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block; 
    }
    .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }

     .main-nav-list{
         flex-direction: column;
         gap: 4.8rem;
     }

     .main-nav-link:link, 
    .main-nav-link:visited{
        font-size: 3rem;
    }
 }


 @media (max-width: 530px) {
    .top-icon{
        left: 90%;
    }
 }

 @media (max-width: 320px) {
    .top-icon{
        left: 87%;
    }
 }